<template>
    <div id="post">
        <h2>Posts:</h2><hr>
        <input type="text" v-model="searchTerm">
        <!-- <div v-for="post in posts" :key="post.id"> 19 no class-->
        <div v-for="row in posts" :key="row.id">
            <h2>{{ row.title }}</h2>
            <p>{{ row.body | snippet }}</p><hr>
        </div>
    </div>
</template>


<script>
import axios from 'axios'
export default {
    name: 'axios',
    data() {
        return {
            posts: [],
            searchTerm: ''
        }
    },

    computed: {
        // filterSearch() {
        //     return this.posts.filter(post => {
        //         return post.title.match(this.searchTerm)
        //     })
        // }
    },

    methods: {
        
    },

    mounted() {
       axios.get('https://jsonplaceholder.typicode.com/posts')
        .then(response => {
            // console.log(response);
            this.posts = response.data
        })
        .catch(error => {
            console.log(error);
        })
    }

}
</script>


<style scoped>
h2 {
    color:red;
    text-align: center;
}
</style>